name: Test docker image

on:
  pull_request:
    types: [opened, edited, reopened, synchronize]
  workflow_dispatch:

jobs:
  test-image-and-actions:
    name: Build container and test
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3.11.1

      - name: Get Tags for cloud-platform-port-forward-docker-image
        id: metadata
        uses: docker/metadata-action@318604b99e75e41977312d83839a89be02ca4893 # v5.9.0
        with:
          images: ministryofjustice/port-forward
          tags: |
            type=ref,event=tag

      - name: Build cloud-platform-port-forward-docker-image
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          context: .
          push: false
          load: true
          tags: ministryofjustice/port-forward:test

      - name: Test image
        run: |
          docker run --rm --entrypoint=/usr/bin/socat ministryofjustice/port-forward:test "-V"
